#custom-nav .navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
  background: #6534ff !important;
}

@media (max-width: 768px) {
#custom-nav .navbar:not(.top-nav-collapse) {
      background: #6534ff !important;
  }
}