#custom-nav .navbar {
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

#custom-nav .top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #custom-nav .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
  }
}
